{% extends "base.html" %}

{% load i18n %}


{% block content %}
<div class="page-header">
  <h1>{% trans "Accounts" %} <small>{{account_list.count}}</small></h1>
</div>
<table class="table table-condensed table-hover table-clickable">
  <thead>
    <tr>
      <th>{% trans "Identifier" %}</th>
      <th>{% trans "Number" %}</th>
      <th>{% trans "BLZ" %}</th>
      <th>{% trans "Balance" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for account in account_list %}
    <tr href="{% url 'accounts:update' account.id %}">
      <td>{{account.identifier}}</td>
      <td>{{account.number}}</td>
      <td>{{account.blz}}</td>
      <td>{{account.balance}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    $('table.table-clickable > tbody > tr').click(function() {
      var href = $(this).attr('href');
      if(href) {
        window.location = href;
      }
    });
  });
</script>
<style type="text/css">
  .table-clickable tr {
    cursor: pointer;
  }
</style>
{% endblock %}
